*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    color: #DBDBDB;
    font-family: sans-serif;
    font-size: 20px;
}
a{
    color: #AB966F;
}
li{
    list-style: none;
}

/* Header */
/* Está dificil alinear cosas sin flexbox */

.header-container{
    border-bottom: 1px solid #DBDBDB;
}

header > div{
    display: inline-block;
    vertical-align: middle;
}

.logo{
    width: 7%;
    min-width: 100px;
    padding: 0 25px;
    margin: 20px auto;
}
.logo img{
    width: 100%;
    border: 0;
}

.main-menu{
    width: 85%;
}
.main-menu li{
    list-style: none;
    display: inline;
    font-size: 24px;
    font-weight: bold;
    margin: 0 50px;
    text-wrap: nowrap;
}
.main-menu a{
    text-decoration: none;
    color: #DBDBDB;
}
.main-menu a:hover{
    color: #AB966F
}

/* Principal */
.page-banner-container{
    height: calc(100vh - 300px);
    margin-bottom: 50px;
}
.page-banner{
    height: 100%;
    background-image: url("../assets/img/main.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100%;
    border-bottom: 1px solid #DBDBDB;
    /* Si no le pongo este borde se rompe todo */
    border-top: 1px solid black;
    min-height: 250px;
}
.title{
    text-align: center;
    margin-top: 40vh;
}
.title h1{
    font-size: 52px;
    font-family: cursive;
}

.main-content{
    margin: 50px 0;
}
.info-section{
    width: 60%;
    margin: 25px auto;
}
.info-section h2{
    text-align: center;
    font-size: 28px;
    margin: 20px 0;
}
.main-content p{
    margin-top: 25px;
}

.footer-container{
    border-top: 1px solid #DBDBDB;
    margin-top: 70px;
    height: 150px;
}
.footer-container footer{
    margin-top: 60px;
}
.footer-container p{
    text-align: center;
}

.hema-info{
    width: 60%;
    margin: 0 auto;
}
.about-info, .contact{
    width: 70%;
    margin-left: 50px;
}
.about-info section{
    padding: 30px 15px;
}
.countries-list{
    padding: 15px 0;
}
.countries-list > li{
    margin: 5px 0;
}

/* Formulario de contacto */
.contact-form > div{
    margin: 20px 0;
}
.contact-form label{
    font-weight: bold;
    margin-bottom: 10px;
}
.contact-form label, .contact-form input, .contact-form textarea{
    display: block;
    font-size: 18px;
}
.contact-form input, .contact-form textarea{
    width: 300px;
    height: 30px;
    background-color: #DBDBDB;
    border-radius: 3px;
}
.contact-form input:focus, .contact-form textarea:focus{
    background-color: #EFEFEF;
}
.contact-form textarea{
    height: 100px;
}
.submit-button-container{
    width: 300px;
}
#submit-button{
    width: 120px;
    margin: 0 auto;
    height: 40px;
    border-radius: 5px;
    border: none;
}
#submit-button:hover{
    background-color: #AB966F;
    border: none;
}
#submit-button:focus{
    background-color: #e4bf7b;
    border: none;
}

/* Manual de armas */
.weapons{
    margin: 50px;
}
.weapons h1{
    font-size: 36px;
}
.weapon-manual-introduction{
    padding: 20px;
    margin-bottom: 25px;
}
.weapon-info{
    width: 75%;
    margin: 75px auto;
    margin-top: 25px;
    padding: 20px;
}
.weapon-info h2{
    text-align: center;
}
.weapon-info img{
    height: 300px;
    display: block;
    margin: 0 auto;
}
.weapon-image-container{
    margin-top: 20px;
}
.weapon-image-container img{
    border-radius: 20px;
}
.embed-youtube-video-container{
    margin-top: 25px;
}
.embed-youtube-video-container > iframe{
    display: block;
    margin: 0 auto;
    border: 2px solid #af0909;
    border-radius: 5px;
}