*{
    /* border: 1px solid red; */
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
    color: #EEE;
    font-family: sans-serif;
    font-size: 20px;
}

/* Header */
/* Está dificil alinear cosas sin flexbox */

header > div{
    display: inline-block;
    vertical-align: middle;
}

.logo{
    width: 7%;
    min-width: 100px;
    padding: 0 25px;
    margin: 20px auto;
}
.logo img{
    width: 100%;
    border: 0;
}

.main-menu{
    width: 85%;
}
.main-menu li{
    list-style: none;
    display: inline;
    font-size: 24px;
    font-weight: bold;
    margin: 0 50px;
    text-wrap: nowrap;
}
.main-menu a{
    text-decoration: none;
    color: #EEE;
}
.main-menu a:hover{
    color: #dace69
}

/* Principal */

.page-banner-container{
    height: calc(100vh - 300px);
    margin-bottom: 50px;
}
.page-banner{
    height: 100%;
    background-image: url("../assets/img/main3.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100%;
    border-top: 1px solid #EEE;
    border-bottom: 1px solid #EEE;
    min-height: 250px;
}
.title{
    text-align: center;
    margin-top: 40vh;
}
.title h1{
    font-size: 52px;
    font-family: cursive;
}

.main-content{
    margin: 50px 0;
}
.info-section{
    width: 60%;
    margin: 25px auto;
}
.info-section h2{
    text-align: center;
    font-size: 28px;
    margin: 20px 0;
}
.main-content p{
    margin-top: 25px;
}

.footer-container{
    border-top: 1px solid #EEE;
    margin-top: 70px;
    height: 150px;
}
.footer-container footer{
    height: 100%;
    display: block;
}
.footer-container p{
    text-align: center;
    padding: 70px 0;
}